<div class="row light-blur-bg rounded-3 p-3 pb-4">
    <div class="col-12">
       <h1 class="display-6 mt-4 mb-4 text-center">{{ 'pageTitle.passwordReset' | translate }}</h1>
    </div>
    <div class="col-12">
       <form [formGroup]="form" (ngSubmit)="passwordReset()">

         <div class="field p-fluid">
            <label for="email">{{ "passwordReset.form.email" | translate }}</label>
            <span class="p-input-icon-left">
               <i><fa-icon [icon]="faUser"></fa-icon></i>
               <input 
                  pInputText
                  pAutoFocus 
                  [autofocus]="true"
                  [ngClass]="getStatus('email')"
                  id="email" 
                  type="email" 
                  [placeholder]="'passwordReset.form.email' | translate"
                  formControlName="email"
                  required 
                  aria-describedby="email-required"
                  [attr.aria-invalid]="getAriaInvalid('email')"
                  (keydown)="clearServerErrors('email')"
               >
            </span>
            <app-form-control-errors
               *ngIf="isFormControlInvalid('email')"
               [errors]="form.get('email')?.errors"
               [serverErrors]="getServerErrors('email')"
            ></app-form-control-errors>
         </div>
            
         <button 
            pButton 
            pRipple 
            class="p-button-success w-100 d-flex justify-content-center rounded mt-3" 
            [disabled]="isLoading || !form.valid"
         >
            <span *ngIf="!isLoading">
               {{ "passwordReset.button.passwordReset" | translate }}
            </span>
            <span *ngIf="isLoading">
               <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
            </span>
         </button>
 
         <div class="text-center">
            <a 
               class="link-secondary link-underline-opacity-0"
               [routerLink]="['/login']"
            >{{ "passwordReset.form.login" | translate }}</a>
         </div>
       </form>
    </div>
 </div>