<div class="row light-blur-bg rounded-3 p-3 pb-4">
  <div class="col-12">
    <h1 class="display-6 mt-4 mb-4 text-center">{{ 'pageTitle.passwordResetFinish' | translate }}</h1>
  </div>
  <div class="col-12">
    <form [formGroup]="form" (ngSubmit)="finishResetPassword()">
      <div class="field p-fluid">
        <label for="email">{{ 'register.form.email' | translate }}</label>
        <span class="p-input-icon-left">
          <i><fa-icon [icon]="faUser"></fa-icon></i>
          <input
            pInputText
            pAutoFocus
           
            [ngClass]="getStatus('email')"
            id="email"
            type="email"
            [placeholder]="'register.form.email' | translate"
            formControlName="email"
            required
            aria-describedby="email-required"
            [attr.aria-invalid]="getAriaInvalid('email')"
            (keydown)="clearServerErrors('email')" />
        </span>
        <app-form-control-errors
          *ngIf="isFormControlInvalid('email')"
          [errors]="form.get('email')?.errors"
          [serverErrors]="getServerErrors('email')"></app-form-control-errors>
      </div>

      <div class="field p-fluid mt-3">
        <label for="password">{{ 'register.form.password' | translate }}</label>
        <span class="p-input-icon-left">
          <i><fa-icon [icon]="faKey"></fa-icon></i>
          <input
            pInputText
            [ngClass]="getStatus('password')"
            id="password"
            type="password"
            [placeholder]="'register.form.password' | translate"
            formControlName="password"
            required
            aria-describedby="password-required"
            [attr.aria-invalid]="getAriaInvalid('password')"
            (keydown)="clearServerErrors('password')" />
        </span>
        <app-form-control-errors
          *ngIf="isFormControlInvalid('password')"
          [errors]="form.get('password')?.errors"
          [serverErrors]="getServerErrors('password')"></app-form-control-errors>
      </div>

      <div class="field p-fluid mt-3">
        <label for="password">{{ 'register.form.passwordConfirmation' | translate }}</label>
        <span class="p-input-icon-left">
          <i><fa-icon [icon]="faKey"></fa-icon></i>
          <input
            pInputText
            [ngClass]="getStatus('passwordConfirmation')"
            id="passwordConfirmation"
            type="password"
            [placeholder]="'register.form.passwordConfirmation' | translate"
            formControlName="passwordConfirmation"
            required
            aria-describedby="passwordConfirmation-required"
            [attr.aria-invalid]="getAriaInvalid('passwordConfirmation')"
            (keydown)="clearServerErrors('passwordConfirmation')" />
        </span>
        <app-form-control-errors
          *ngIf="isFormControlInvalid('passwordConfirmation')"
          [errors]="form.get('passwordConfirmation')?.errors"
          [serverErrors]="getServerErrors('passwordConfirmation')"></app-form-control-errors>
      </div>

      <button pButton pRipple class="p-button-success w-100 d-flex justify-content-center rounded mt-3" [disabled]="isLoading || !form.valid">
        <span *ngIf="!isLoading">
          {{ 'register.button.register' | translate }}
        </span>
        <span *ngIf="isLoading">
          <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
        </span>
      </button>

      <div class="text-center">
        <a class="link-secondary link-underline-opacity-0" [routerLink]="['/login']">{{ 'passwordResetFinish.form.login' | translate }}</a>
      </div>
    </form>
  </div>
</div>
