// Usunięcie obramowania z p-dropdown
::ng-deep .p-dropdown {
  border: none;
  box-shadow: none;
}

// Separator
.vertical-separator {
  width: 1px;
  height: 24px;
  background-color: var(--surface-200);
  margin-left: 15px;
}

@media (max-width: 991px) {
  .vertical-separator {
    width: 100%;
    height: 1px;
    margin-left: 0;
    margin: 10px 0px 10px 0px;
  }
}