@if (!hasServerErrors()) {
  @if (errors?.min) {
    <small class="form-text text-danger">
      {{ (!hasCustomErrorMessage('min') ? 'global.validation.min' : customValidationMessages['min']) | translate: { min: errors?.min?.min } }}
    </small>
  }

  @if (errors?.max) {
    <small class="form-text text-danger">
      {{ (!hasCustomErrorMessage('max') ? 'global.validation.max' : customValidationMessages['max']) | translate: { max: errors?.max?.max } }}
    </small>
  }

  @if (errors?.required) {
    <small class="form-text text-danger">
      {{ (!hasCustomErrorMessage('required') ? 'global.validation.required' : customValidationMessages['required']) | translate }}
    </small>
  }

  @if (errors?.requiredTrue) {
    <small class="form-text text-danger">
      {{ (!hasCustomErrorMessage('requiredTrue') ? 'global.validation.requiredTrue' : customValidationMessages['requiredTrue']) | translate }}
    </small>
  }

  @if (errors?.email) {
    <small class="form-text text-danger">
      {{ (!hasCustomErrorMessage('email') ? 'global.validation.email' : customValidationMessages['email']) | translate }}
    </small>
  }

  @if (errors?.minlength) {
    <small class="form-text text-danger">
      {{
        (!hasCustomErrorMessage('minlength') ? 'global.validation.minlength' : customValidationMessages['minlength'])
          | translate: { minlength: errors?.minlength?.requiredLength }
      }}
    </small>
  }

  @if (errors?.maxlength) {
    <small class="form-text text-danger">
      {{
        (!hasCustomErrorMessage('maxlength') ? 'global.validation.maxlength' : customValidationMessages['maxlength'])
          | translate: { maxlength: errors?.maxlength?.requiredLength }
      }}
    </small>
  }

  @if (errors?.pattern) {
    <small class="form-text text-danger">
      {{
        (!hasCustomErrorMessage('pattern') ? 'global.validation.pattern' : customValidationMessages['pattern'])
          | translate: { pattern: errors?.pattern?.requiredPattern }
      }}
    </small>
  }

  @if (errors?.passwordConfirmation) {
    <small class="form-text text-danger">
      {{
        (!hasCustomErrorMessage('passwordConfirmation') ? 'global.validation.passwordConfirmation' : customValidationMessages['passwordConfirmation'])
          | translate: { matching: errors?.passwordConfirmation?.requiredMatching }
      }}
    </small>
  }

  @if (errors?.acceptanceRegulations) {
    <small class="form-text text-danger">
      {{
        (!hasCustomErrorMessage('acceptanceRegulations')
          ? 'global.validation.acceptanceRegulations'
          : customValidationMessages['acceptanceRegulations']
        ) | translate: { matching: errors?.acceptanceRegulations?.requiredMatching }
      }}
    </small>
  }
}

@if (hasServerErrors()) {
  <small class="form-text text-danger" *ngFor="let se of serverErrors">
    {{ se }}
  </small>
}
