/* You can add global styles to this file, and also import other style files */

// $gutter: 1rem; // for primeflex grid system
// @import "assets/layout/styles/layout/layout.scss";

// PrimeNG
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

// Style formularzy
form {
    .ng-valid-success {
        border: 1px solid #78da9c;
    }
}

.light-blur-bg {
    background-color: rgba(248, 249, 250, 0.8);
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 0px 8px 16px -16px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 8px 16px -16px rgba(66, 68, 90, 1);
    box-shadow: 0px 8px 16px -16px rgba(66, 68, 90, 1);
}