/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; // for primeflex grid system
@import 'assets/layout/styles/layout/layout.scss';

// PrimeNG
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.min.css';

.layout-main,
.landing-wrapper {
  width: 100%;
}

.p-dropdown-items-wrapper ul {
  padding-left: 0rem;
  margin-bottom: 0rem;
}

// Style formularzy
form {
  .ng-valid-success {
    border: 1px solid #78da9c;
  }
}
.p-inputtext {
  height: 35px!important; // ustalona wysokość input-ów
}

// Tło blur
.light-blur-bg {
  background-color: var(--surface-50);
  opacity: 0.9;
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 8px 16px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 16px -16px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 16px -16px rgba(66, 68, 90, 1);
}

// Uzupełnienie dla styli by działały poprawnie motywy
// https://primeng.org/colors
p,
small,
.card-body {
  color: var(--text-color);
}
button {
  border-radius: 6px;
}

// Większy swal
.swal-md {
  width: 650px !important;
  height: 350px !important;
  div:where(.swal2-icon){
    width: 8em !important;
    height: 8em !important;
    font-weight: 600 !important;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Poprawienie tabelek
// Dodanie scroll bara do przewijania tabeli w bok
.mat-table-custom-container {
  overflow-x: auto;
}
.mat-table-custom-table-container {
  min-width: 100%;
}

// Wyświetla loader tylko w obszarze danej tabelki
.loader-overlay {
  position: relative;
  width: 100%;
  height: 100%;
}






// // TODO

// /* Nadpisanie domyślnych stylów ng-select */
// .ng-select {
//   --background: var(--primary-dark-bg);
//   --border-color: var(--primary-dark-border);
//   --hover-border-color: var(--primary-dark-border-hover);
//   --arrow-color: var(--primary-dark-text);
//   --text-color: var(--primary-dark-text);
//   --placeholder-color: var(--primary-dark-placeholder);
//   --dropdown-background: var(--primary-dark-bg);
//   --dropdown-border-color: var(--primary-dark-border);
//   --item-hover-background: var(--primary-dark-hover);
//   --item-selected-background: var(--primary-dark-selected);
// }

// .ng-select .ng-select-container {
//   background-color: var(--background);
//   border-color: var(--border-color);
//   color: var(--text-color);
// }

// .ng-select .ng-select-container:hover {
//   border-color: var(--hover-border-color);
// }

// .ng-select .ng-select-container .ng-arrow-wrapper .ng-arrow {
//   // border-color: var(--arrow-color);
// }

// .ng-select .ng-select-container .ng-select-placeholder {
//   color: var(--placeholder-color);
// }

// /* Stylowanie panelu rozwijanej listy */
// .ng-select .ng-dropdown-panel {
//   background-color: var(--dropdown-background);
//   border-color: var(--dropdown-border-color);
// }

// .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
//   background-color: var(--dropdown-background);
//   color: var(--item-text-color);
// }

// .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
//   background-color: var(--item-hover-background);
// }

// .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.selected {
//   background-color: var(--item-selected-background);
//   color: var(--item-text-color);
// }

// /* Stylowanie pozycji rozwijanej listy */
// .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.disabled {
//   color: var(--placeholder-color);
//   background-color: var(--dropdown-background);
//   cursor: not-allowed;
// }

// /* Dostosowanie pozycji, gdy lista jest rozwinięta */
// .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option-marked {
//   background-color: var(--item-hover-background);
// }
